
#h1{
    width: 10%;
    min-height: 50px;
    font-size: 50px;
    padding: 50px 0 0 5px;
    margin-bottom: 15px;
}

form{
    width: 99%;
    margin: 10px;
    min-height: 400px;
}

label{
    font-size: large;
    display: inline-block;
    width: 18%;
    min-height: 20px;
    margin-top: 30px;
}

input{
    width: 25%;
    min-height: 30px;
}

header{
    background-color: black;
}

#botaoContato{
    margin: 10px 0 5px 25%;
    width: 50%;
    min-height: 50px;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
    font-weight: bold;

}

#botaoContato:hover{
    background-color: orange;
    transition: 0.3s;
}

textarea{
    width: 99%;
}