@import url('https://fonts.googleapis.com/css2?family=Asap&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


body{
    font-family: 'Asap', sans-serif;
    background-color:white;
}

#cabecalho{
    width: 100%;
    height: auto;
    background-color:#818CA8;
    background-repeat: no-repeat;
    background-position: 80% 10%;
    background-attachment: fixed;
    background-size: cover;
    
}

#logo-nome{
    width: 50%;
}

#nome{
    font-size: 35px;
    float: left;
    padding-top: 30px;
    margin-left: 100px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

nav{
    width: 100%;

}

nav ul{
    list-style: none;
    text-align: right;
    margin-right: 100px;
}

nav ul li{
    display: inline-block;
    padding: 40px 20px;
}

nav ul li a{
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-size: 15px;
}

#conteudo {
    width: 100%;
}

#texto_comeco {
    font-family: 'Playfair Display', serif;
    font-size: 29px;
    color: #fff;
    margin-top: -360px;
    padding-left: 100px;
    line-height: 40px;
}

#imagens_comeco {
    display: flex;
    justify-content: center;
    margin-top: 320px;
}

.imagem_comeco {
    width: 250px;
    height: 250px;
}

.texto_comeco{
    margin-top: -40px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
}

#sobre {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

#sobre_texto{
    width: 50%;
}

.titulos {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.textos{
    font-size: 15px;
    text-align: center;
    line-height: 27px;
}

#servicos {
    width: 100%;
    
}

.servicos{
    display: flex;
    justify-content: center;
}

.servico {
    width: 17%;
    background-color: #fff;
    margin: 10px 10px;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow:    0px 10px 12px 0px rgba(0, 0, 0, 0.32);
    box-shadow:         0px 10px 12px 0px rgba(0, 0, 0, 0.32);
}

.imagem_servico{
    width: 230px;
    height: auto;
    justify-content: center;
}

.texto_servico{
    margin-top: 10px;
    line-height: 25px;
    margin-left: 10px;
}

.botao_servico{
    background-color: #fff;
    border: none;
    padding: 0px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    text-decoration: underline #616161;
}

#localizacao {
    margin-top: 70px;
    background-color: #fff;
    display: flex;
}

#endereco {
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
}

.titulo_endereco {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 50px;
}

.textos_endereco{
    font-size: 15px;
    line-height: 27px;
    padding-bottom: 30px;
}

footer {
    width: 100%;
    background-color: #000;
    color: #f3f3f3;
    margin-top: -1px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.redes_sociais{
    width: 30%;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
}

.menu_footer{
    width: 40%;
    float: right;
    margin-left: -60px;
    margin-top: 30px;
}

.botoes_footer{
    line-height: 35px;
}

.titulos_footer{

    font-size: 23px;
    line-height: 30px;
}

.carousel{
    width: 400px;
    height: 400px;
    float: inline-start;
    /* float: left; */
    
}